@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
  margin-left: auto;
  margin-right: auto;
  
}

#food{
    float: left;
    display: inline;
    margin-top:25px;
    padding: 5px;
}
#par{
float: left;
margin-top: 30px;

}
#icon{
    float: right;
    margin-top: -25px;
    margin-right: 50px;


}
#list{
    list-style-type: none;
    margin-top: 20px;
    display: inline;
    margin-right: 20px;
}
#listD{
font-size: 30px;
font-family: 'Dancing Script', cursive;
font-weight: bolder;
margin-bottom: 0px;
}
#listF{
    text-transform: capitalize;
    font-size: 10px;
    color: darkgrey;}
#choco{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
#ulchoco{
    list-style-type: none;
   
    
}
#fig{
    list-style-type: none;
    margin-left: 70px;


}
#lichoco{
    font-family: 'Anton', sans-serif;
    font-size: 30px;

}
#figL{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
   

}

#li2choco{
    text-transform: capitalize;
    font-size: 15px;
    color: darkgrey;
}
 #figLl{
        text-transform: capitalize;
        font-size: 20px;
        color: gray;
         
    }
    
#print{
    float: right;
    color: darkgrey;
    margin-top: -20px;
    margin-right: 50px;
font-size: 13px;
}
.line{
    background-image:url(https://raw.githubusercontent.com/LTUC/amman-201d9/master/class-10/lab-a/lab-assets/hr-img.png);
    height:10px;
    width: 80%;
    border: 1px solid lightgrey;
}
.para{
    text-indent: 40px;
    margin-left:25% ;
    margin-right: 25%;
}
.container {
    position: relative;
    text-align: left;
    color: black;
  }
  
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .chbox{
      display: block;
  }
  #btn{
  padding: 14px 40px;
  background-color: maroon;
float: right;
margin-top: -50px;
margin-right: 50px;
}
#person{
    float:left;
    display: inline;
    padding: 5px;
}
.line2{
    height:1px;
    width: 80%;
    background-color: lightgray;
    margin-top: 70px;

}
#img44{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 70px;
    position: relative;
}